# Coturn TURN server configuration
TURN_REALM=turn.joverval.cl
TURN_SECRET=replace-with-output-of-openssl-rand-hex-32
TURN_MIN_PORT=49160
TURN_MAX_PORT=49259
TURN_PUBLIC_IP=auto-detect
TURN_LISTEN_IP=0.0.0.0